.cover__link {
    color:#FFFFFF;
    text-decoration: none;
    margin: 0 auto 0;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 32px;
}
@media screen and (max-width: 1184px) {
    .cover__link {
        min-height: calc(100vw/1.6);
    }
}

@media screen and (max-width: 350px) {
    .cover__link {
        gap: 16px;
    }
}