.place__title {
    width: 460px;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}
@media screen and (max-width: 1024px) {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 720px) {
    .place__title {
        margin: 0 16px;
    }
}
@media screen and (max-width:320px) {
    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}