.photo-grid {
    padding: 92px 0 0;
    margin: 0 auto 0;
    max-width: 1184px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 284px);
    gap: 16px;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
        grid-template-columns: repeat(auto-fit, 300px);
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        padding-top: 88px;
        max-width: 720px;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, 352px);
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        padding-top: 64px;
        max-width: 288px;
        gap: 12px;
        grid-template-columns: repeat(auto-fit, 288px);
    }
}