.place__container-paragraph {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap:26px;
}
@media screen and (max-width:768px) {
    .place__container-paragraph {
        gap:25px;
    }
}
@media screen and (max-width:320px) {
    .place__container-paragraph {
        margin: 0 16px;
    }
}