.cover {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: 92px auto;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 90px auto 88px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        margin: 66px auto 64px;
    }
}


.cover:hover .cover__overlay {
    background-color:#2A2C2F;
    opacity: 0.8;
}