.cover__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}